<div>
    <h2 id="page-heading">
        <span>Blog Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blog-entry" [routerLink]="['/blog-entry/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Blog Entry
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="blogEntries">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Content</span></th>
            <th><span>Date</span></th>
            <th><span>Blog</span></th>
            <th><span>Tag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blogEntry of blogEntries ;trackBy: trackId">
                <td><a [routerLink]="['/blog-entry', blogEntry.id, 'view' ]">{{blogEntry.id}}</a></td>
                <td>{{blogEntry.title}}</td>
                <td>{{blogEntry.content}}</td>
                <td>{{blogEntry.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="blogEntry.blog">
                        <a [routerLink]="['../blog', blogEntry.blog?.id, 'view' ]" >{{blogEntry.blog?.name}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let tag of blogEntry.tags; let last = last">
                            <a class="form-control-static" [routerLink]="['../tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/blog-entry', blogEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog-entry', blogEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'blog-entry', { outlets: { popup: blogEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
